
.App {
  text-align: center;
}

.fluid-container {
  margin-top: 10%;

}
.col-5 {
  height: 300px;
  border: 1px solid black;
  min-width: 250px;
  margin: 3px;
  border-radius: 15px;
}

h1 {
  text-align: center;
  color: white;
}

@media screen and (max-width: 900px) {
  .col-5 {
    min-width: 60%;;
  }
  
}






